.navbar-brand img
{
  max-height: 40px; 
}


header .row
{
  min-height: 70vh;
  background-image:url(../image/illustration5.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
  
}
header .formReservation
{
  background-color: rgba(15, 16, 17, 0.5);
  min-height: 70vh;
  display: flex;
  align-items:center;
}

header h1
{
  font-family:"magneto" ;
}

header h3
{
  font-family:"Old English Text MT";
  margin-bottom: 30px;
}

header .slogan
{
  display: flex;
  min-height: 70vh;
  align-items:flex-end;
  justify-content: flex-end;
}

@media (max-width:568px){
   header .slogan
{
  display: none;
}
}
#presentation .media span
{
  color:blue;
  font-size: 3rem;
  width: 4rem;
  text-align: center;
   
}
#presentation .media
{
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;

}
#presentation .media:hover
{
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 3px;

}

.avisClient
{
  min-height: calc(100vh - 50px) ;
  background-color: #d3dae4;
}
.avisClient span
{
  font-size: 5rem;
  color: #17a2b8;
}
.avisClient h5
{
  font-size: 2rem;
  color:#888 ;
}
.fondChambre
{
  background-image:url(../image/illustration6.jpg);
  min-height: calc(100vh - 50px);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
#contact
{
  background-image:url(../image/illustration2.jpg);
  min-height: calc(100vh - 50px);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed; 
}
#contact .row
{
  min-height: calc(100vh - 50px);
}
.formContact
{
  background-color: rgba(255,255,255,.5);
  padding:2rem 1rem;
}

footer
{
  background-color:rgba(35, 34, 34, 0.9);
  color: blue;
  padding-top: 2rem; 
  padding-bottom: 5rem;
}
footer a
{
  color: blue;
  font-size: 2rem;
  transition: all .2s ease-in-out;
}
footer a:hover
{
  color: #fff;
  text-decoration: none;
}